*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#08111f;

display:flex;

justify-content:center;

align-items:center;

padding:50px;

min-height:100vh;

}

.container{

width:100%;

max-width:900px;

}

.card{

background:#111b2d;

border-radius:20px;

padding:40px;

box-shadow:0 0 30px rgba(0,0,0,.4);

}

h1{

color:#38bdf8;

text-align:center;

margin-bottom:10px;

}

.card>p{

text-align:center;

color:#bfc9d8;

margin-bottom:35px;

}

.history-card{

background:#1b2940;

padding:20px;

border-radius:14px;

margin-bottom:20px;

border-left:5px solid #38bdf8;

}

.history-card h2{

color:white;

margin-bottom:10px;

}

.history-card p{

color:#cfd7e5;

margin:6px 0;

}

.button-group{

margin-top:30px;

}

.button-group button{

width:100%;

padding:15px;

border:none;

border-radius:12px;

background:#38bdf8;

color:#08111f;

font-size:17px;

font-weight:700;

cursor:pointer;

transition:.3s;

}

.button-group button:hover{

transform:translateY(-3px);

background:#0ea5e9;

}