*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{

background:#08111f;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

color:white;

}

.card{

width:600px;

background:#1b2435;

padding:40px;

border-radius:20px;

}

h1{

text-align:center;

margin-bottom:30px;

color:#38bdf8;

}

.row{

display:flex;

justify-content:space-between;

padding:18px 0;

border-bottom:1px solid rgba(255,255,255,.1);

}

button{

margin-top:35px;

width:100%;

padding:14px;

border:none;

border-radius:10px;

background:#2563eb;

color:white;

font-size:16px;

cursor:pointer;

}